In [1]:
var_int = 2
var_int

2

In [2]:
var_str = 'Don \'t panic'
var_str

"Don 't panic"

In [3]:
var_bool = True
var_bool

True

In [4]:
nome = "Joao"
nome = "maria"
nome

'maria'

In [5]:
type(2.2)

float

In [6]:
print("Hello Word")

Hello Word

In [7]:
idade = input()
idade

'20'

In [9]:
print(idade)

20

In [10]:
print(nome)

maria

In [11]:
print(f"olá {nome} você tem {idade} anos ")

olá maria você tem 20 anos

In [13]:
x = 10
y = 5
z = 3

In [14]:
soma = x + y
sub = x - y
mul = x * y
div = x / y
print(soma,sub,mul,div)

15 5 50 2.0

In [16]:
minha_lista = [1, 2.2 ,"tres"]
print(minha_lista)

[1, 2.2, 'tres']

In [22]:
meu_set = {1,2,3,3,2,2,4,4}
meu_set

{1, 2, 3, 4}